@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/keyframes" as *;
@use "../../styles/partials/global" as *;

.hero {
  background-color: black;

  &__ctnr{
    width: 25rem;
    object-fit: fill;

  }

  &__video {
    width: 100%;


    
    @include tablet{
      max-width: 45rem;
    }
  }
}