@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/keyframes" as *;
@use "../../styles/partials/global" as *;

.vid-det{
  margin: 0 1rem;

  @include desktop {
    margin: 0;
  }

  &__hdr{
  padding: 1rem 0;
  border-bottom: 1px solid $mercury;

    @include tablet {
      border: none;
      padding: 1rem 0 0 0;
    }
  }

  &__stats-ctnr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $mercury;
    padding: 1rem 0;

    @include tablet {
      padding: 1rem 0 0 0;
    }

    @include desktop {
      padding: 1rem 1rem 0 0;
    }
    
  }
      
  &__ch-date-ctnr {
    @include m-bdy-copy-style;

    @include tablet {
    display: flex;
    flex-direction: row;
    }
  }
  
  &__ch {
    padding-bottom: 1rem;
    
    @include tablet{
    margin-right: 2rem;
    }
  }

  &__date {
    color: $silver;
    font-weight: 400;
  }
          
  &__view-like-ctnr {
    @include m-bdy-copy-style;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      }
  }
  
  &__view-icon{
    padding-right: 1rem;
    padding-top: auto;
    }
  &__view {
    padding-bottom: 1rem;
    color: $silver;
    font-weight: 400;

    @include tablet{
      margin-right: 2rem;
    }
  }

  &__like-icon{
    padding-right: 1rem;
    padding-top: auto;
    }

  &__like {
    color: $silver;
    font-weight: 400;
  }

  &__des {
    padding: 1rem 0;
    @include m-bdy-copy-style;
  
  @include desktop {
    padding: 1rem 1rem 1rem 0;
  }
  }

}