@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {


  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    background-color: $mercury;
    object-fit: cover;
    margin: 1rem 0.5rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__title {
    @include m-sec-hdr-style;
    padding: 0 0 1rem 0;

    @include tablet {
      @include dt-sec-hdr-style;
      padding: 2rem 0 2.25rem 0;
      max-width: 80rem;
      margin: 0 auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__form-label {
    @include m-lbls-btn-style;
    font-size: 0.75rem;
    color: $silver;
    margin-bottom: 0.2rem;
  }

  &__form-input {
    @include m-bdy-copy-style;
    border: 1px solid $mercury;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;

    @include tablet{
      @include dt-bdy-copy-style;
    }
  }

  &__form-comment {
    @include m-bdy-copy-style;
    padding: 0.5rem;
    height: 5rem;
    border-radius: 4px;

    @include tablet{
      @include dt-bdy-copy-style;
    }
  }

  &__form-submit {
    @include m-lbls-btn-style;
    color: $white;
    padding: .75rem 2rem;
    border-radius: 4px;
    margin: 1.25rem 0 1.25rem 0;
    background-color: $brainflix-blue;
  

    @include tablet {
      @include dt-lbls-btn-style;
      font-size: 1rem;
      width: 12rem;
      margin-left: auto;
    }
  }
}

.comments {
  display: flex;
  border-bottom: 0.1rem solid $mercury;
  padding-bottom: 1rem;

  @include tablet {
  padding-bottom: 1.25rem;
  }

  &__wrap{
    margin: 1rem;
  }

  &__container {
    @include tablet {
      width: 40rem;
      margin: 0 auto;
    }
  }
  &__left {
    padding: 0 0.5rem 0 0;
  }

  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    background-color: $mercury;
    object-fit: cover;
    margin: 1rem 0.5rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__name {
    @include m-bdy-copy-style;
    font-weight: 700;
    padding: 0.75rem 0;
    width: 60%;

    @include tablet{
      @include dt-bdy-copy-style;
      font-weight: 600;
    }
  }

  &__date {
    @include m-bdy-copy-style;
    font-weight: 400;
    padding: 0.75rem 0;
    width: 38%;
    text-align: right;
    color: $silver;

    @include tablet{
      @include dt-bdy-copy-style;
    }
  }

  &__comment {
    @include m-bdy-copy-style;
    font-weight: 300;

    @include tablet{
      @include dt-bdy-copy-style;
    }
  }
}