@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/global" as *;

.main-content {
  max-width: 80rem;
  margin: 0 auto;

  @include desktop {
  display: flex;
  }

  &__next-vid-box {
    
    @include desktop {
      border-left: 1px solid $mercury;
    }
  }
}